.profile {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.profile-info {
  background: white;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  margin-bottom: 1rem;
}

.profile-orders,
.profile-address {
  margin-right: 1rem;
}

.info-name {
  font-weight: 400;
  color: #f19c79;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.info-email {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0.5rem;
}

.payment-options > button,
.info-name > button,
.profile-address > button {
  border: none;
  cursor: pointer;
  background: #373f51;
  color: white;
  padding: 0.25rem 0.5rem;
  margin-left: 1rem;
  border-radius: 2px;
}

.profile-address > button {
  margin-left: 0;
  margin-top: 0.5rem;
}

.payment-options > button:focus,
.info-name > button:focus {
  outline: none;
}

.profile-section-title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.profile-orders > .title {
  font-size: 1.5rem;
}

.orders-display {
  margin-top: 0.5rem;
}

@media (max-width: 1000px) {
  .profile {
    display: flex;
    flex-direction: column-reverse;
  }

  .profile-orders,
  .profile-address {
    margin-right: 0;
  }

  .profile-orders,
  .profile-address,
  .profile-info {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
