.product-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.mid-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 1.5rem;
}

.mid-section-photos {
  /* background: rgba(184, 184, 184, 0.3); */
  border: 1px solid #e6e6e6;
  height: 400px;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.mid-section-photos > img {
  height: 100%;
  max-width: 100%;
}

.mid-section-buy {
  margin-left: 1rem;
}

.buy-price {
  font-size: 1.75rem;
  text-align: end;
  margin-bottom: 1rem;
}

.buy-form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 0.5rem;
  height: 2.5rem;
}

.buy-form > button {
  color: white;
  border: none;
  background: #373f51;
  margin-left: 0.5rem;
  cursor: pointer;
}

.buy-form > button:focus {
  outline: none;
}

.buy-form > input[type="number"] {
  border: 1px solid #e6e6e6;
  padding: 5px;
  text-align: center;
}

.buy-form-additional {
  margin-top: 1rem;
  text-align: end;
  font-size: 1.1rem;
}

.description > span {
  padding: 0.5rem;
}

.desctipion-content {
  padding: 0 0.5rem;
}

.section-title {
  font-size: 1.5rem;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.rating {
  font-size: 0.5rem;
}

.no-img {
  line-height: 400px;
}

.cart-popup {
  background: white;
  width: 350px;
}

.cart-popup > div {
  padding: 1rem;
}

.cart-popup-clickable {
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: baseline;
}

.cart-popup-clickable > span {
  cursor: pointer;
}

.cart-popup-clickable > .close:hover {
  text-decoration: underline;
}

.cart-popup-clickable > .cart {
  background: #373f51;
  color: white;
  padding: 0.25rem 0.5rem;
}

@media (max-width: 1000px) {
  .mid-section {
    display: block;
    margin: 0 1rem;
  }

  .product-name {
    margin: 1rem;
  }

  .mid-section-photos {
    height: calc(100vw - 2rem);
  }

  .mid-section-buy {
    margin-left: 0;
    margin-top: 1rem;
  }

  .buy-price {
    text-align: left;
  }

  .buy-form-additional {
    display: none;
  }

  .cart-popup {
    width: 90vw;
  }
}
