.navbar {
  position: sticky;
  position: -webkit-sticky;
  background: white;

  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.16);

  z-index: 5;
}

.navbar-container {
  width: 1000px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #e6e6e6;
  margin: auto;
}

.navbar-title {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  margin-left: 1rem;
}

.search-box {
  border: 1px solid #e6e6e6;
  width: 35vw;
  padding: 0.5rem;
  display: flex;
  width: 30vw;
}

.search-box > div {
  border-left: 1px solid #e6e6e6;
  padding-left: 0.5rem;
  cursor: pointer;
  color: #8f8f8f;
}

.category-container {
  width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
}

.categories {
  display: inline-block;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.side-category {
  margin: 0 0.5rem;
}

.category-list {
  z-index: 10;
  position: fixed;
  top: 8.25rem;
  left: calc((100vw - 1000px) / 2);
  width: 30vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid #e6e6e6;
  background: white;
}

.cl-section {
  padding: 0.75rem 0;
  z-index: 300;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: block;
}

li:hover,
.categories:hover {
  background: rgba(184, 184, 184, 0.3);
}

.border-right {
  border-right: 1px solid #e6e6e6;
}

.search_btn {
  color: #f19c79;
}

.navbar-options {
  display: flex;
}

.navbar-options > div {
  margin-right: 1rem;
}

.navbar-account > span {
  cursor: pointer;
  border-right: 1px solid #e6e6e6;
  padding-right: 10px;
}

.account-menu {
  position: absolute;
}

.burger-menu {
  margin-right: 0.75rem;
  margin-top: 10px;
  cursor: pointer;
  display: none;
}

.mobile-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: calc(100vh - 100%);
}

.mobile-menu-container {
  width: 75%;
  background: white;
}

.mobile-menu-item {
  padding: 0.5rem;
  border-bottom: 1px solid #e6e6e6;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mobile-menu-category {
  font-weight: 400;
  padding: 0.5rem;
}

.mobile-menu-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loop {
  cursor: pointer;
}

.drop-down-menu {
  display: flex;
  justify-content: space-between;

  cursor: pointer;
}

.drop-down-item {
  margin-left: 2rem;
  padding: 0.5rem 0;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
}

.navbar-icon-link {
  display: flex;
  align-items: center;
}

.goods-amount {
  display: inline-block;
  background: #f19c79;
  height: 20px;
  width: 20px;
  text-align: center;
  color: white;
  border-radius: 100%;
  font-weight: 400;
}

.search-box-results {
  position: absolute;
  padding: 0.5rem 0;
  border: 1px solid #e6e6e6;
  border-top: none;
  z-index: 1000;
  background: white;
  width: calc(30vw + 1rem);

  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.16);
}

.search-result-card {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.25rem 1rem;

  cursor: pointer;
}
.search-result-card:hover {
  background: #e6e6e6;
}

.search-result-card-info {
  display: flex;
  flex-direction: column;
}

.search-loading {
  margin: 0 1rem;
}

@media (max-width: 1000px) {
  .navbar-container {
    width: 100%;
  }

  .navbar-options,
  .search-box,
  .category-container {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}
