footer {
  position: absolute;
  bottom: 0;
  background: #373f51;
  color: white;
  font-weight: 400;
  width: 100%;
  height: 4rem;
  display: flex;
}

footer > div {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1000px) {
  footer > div {
    width: 100%;
  }

  footer {
    text-align: center;
    font-size: 0.75rem;
  }
}
